html {
    font-size: 24px;
}

main {
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: 300px auto;
    grid-column-gap: 1.5rem;
    grid-row-gap: .5rem;
}

figcaption {
    margin-top: 1ch;
    font-size: 12px;
    line-height: 160%;
    color: #aaa;
    text-align: center;
}

@media only screen and (max-width: 700px) {
    main { grid-template-columns: auto; }
    h1,h2,h3,h4,h5,h6 { text-align: center; }
}

#logo img {
    max-width: 300px;
}

footer {
    color: #aaa;
    font-size: 12px;
    line-height: 160%;
}

footer a {
    color: #f1729f;
}
