 @import 'fonts.css';

 html {
     font: 15px/150% 'Inter', sans-serif;
 }

 @supports (font-variation-settings: normal) {
     html { font-family: 'Inter var', sans-serif; }
 }

 :root {
     --accent-color: #f23074;
     --accent-color-light: #f1729f;
     --body-width: 90%;
     --body-header-width: 110ch;
     --body-text-width: 55ch;

     --bgcolor: #fffff8;
     --fgcolor: #111111;
 }

 html {
     background-color: var(--bgcolor);
 }

 #table-of-contents {
     font-size: 12px;
 }

 body {
     width: var(--body-width);
     padding-left: calc(100% - var(--body-width));
     margin: 2ch;
     color: var(--fgcolor);
     counter-reset: sidenote-counter;
 }

 #content header {
     max-width: var(--body-header-width);
 }

 a {
     color: var(--accent-color);
 }

 h1, h2, h3, h4, h5, h6 {
     font-weight: 400;
     font-family: 'et-book';
     line-height: 130%;
 }

 h2,h3,h4,h5,h6 {
     font-style: italic;
     margin-bottom: 0;
 }

 h1 {
    margin-top: 4rem;
    margin-bottom: 1.5rem;
    font-size: 3.2rem;
}

 h2 { font-size: 2rem; }
 h3 { font-size: 1.5rem; }
 h4 { font-size: 1.17rem; }

 h4::before {
     content: "▶";
     color: var(--accent-color-light);
     padding-right: 1ch;
 }

 span.sidenote {
     float: right;
     clear: right;
     margin-right: -55%;
     width: 50%;
     margin-top: 0;
     margin-bottom: 0;
     font-size: 0.8rem;
     line-height: 150%;
     vertical-align: baseline;
     position: relative;
 }

 #content > header, #content > #table-of-contents {
     width: 100%;
 }

 blockquote {
     font-size: 90%;
     font-style: italic;
     line-height: 140%;
 }

 blockquote footer {
     text-align: right;
 }


 ol ol, ol li {
     margin-top: 0.5rem;
 }

 blockquote footer:before {
     content: "~ ";
 }

 article {
     max-width: var(--body-text-width);
 }

 figure {
     padding: 0;
     border: 0;
     font-size: 100%;
     font: inherit;
     vertical-align: baseline;
     margin: 0 0 3rem 0;
 }

 figcaption {
     font-size: 12px;
     line-height: 160%;
 }

 figure img {
     border: 1px solid #aaa;
     width: 100%;
 }

 div.solution-wrapper {
     border: 1px solid black;
     padding-top: 1ch;
     padding-left: 1ch;
 }

 div.solution {
     display: none;
 }

 input.show-solution{
     display: none;
 }

 input.show-solution:checked + div.solution {
     display: block;
 }

 label.show-solution {
     display: table;
     margin-top: -1.5rem;
     padding: 0 1ch;
     background-color: var(--bgcolor);
     font-weight: 600;
 }

 label.show-solution::after {
     margin-left: 1ch;
     content: "[toggle]";
     font-size: 0.8rem;
     font-weight: 500;
 }

 div.solution p {
     margin: 0 1ch;
 }

 input.margin-toggle {
     display: none;
 }

 .sidenote-number {
     counter-increment: sidenote-counter;
     display: inline;
 }

 #table-of-contents .sidenote-number {
     counter-increment: none;
     display: none;
 }

 h1 .sidenote-number,
 h2 .sidenote-number,
 h3 .sidenote-number,
 h4 .sidenote-number,
 h5 .sidenote-number,
 h6 .sidenote-number {
     font: 15px/150% "Inter", sans-serif;
 }

 h1 .sidenote,
 h2 .sidenote,
 h3 .sidenote,
 h4 .sidenote,
 h5 .sidenote,
 h6 .sidenote {
     font: calc(15px * 0.8)/150% "Inter", sans-serif !important;
 }


 label.sidenote-number::after, .sidenote::before {
     font-size: 0.6rem;
     vertical-align: top;

     color: var(--accent-color);
 }

 label.sidenote-number::after {
     content: " ["counter(sidenote-counter)"]";
     left: 0.1rem;
 }

 .sidenote:before {
     content: "["counter(sidenote-counter) "] ";
     margin-left: -0.1rem;
 }

 @media only screen and (max-width: 70ch) {
 }

 @media only screen and (max-width: 115ch) {
     html {
         font-size: 14px;
     }

     body {
         padding-left: 0;
         max-width: 100%;
     }

     article {
         max-width: 100%;
     }

     .sidenote {
         display: none;
     }


     .margin-toggle:checked + .sidenote{
         display: block;
         float: left;
         left: 1rem;
         clear: both;
         width: 95%;
         margin: 0.5rem 2.5%;
         font-size: 100%;
         vertical-align: baseline;
         position: relative;
     }

     .katex-display {
         clear: left;
         overflow: auto hidden;
     }

     label {
         cursor: pointer;
     }
 }
