@import url('https://rsms.me/inter/inter.css');
@import 'fonts.css';

html {
    font: 16px/160% 'Inter', 'Source Sans Pro', sans-serif;
    background-color: #fffff8;
    color: #111111;
}

body {
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: .5rem;
    align-items: center;
    justify-items: center;
}


header ul {
    display: inline-block;
    margin: 0;
    padding: 0;
}

header .title {
    font-weight: 600;
}

header ul li {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-left: 1rem;

    text-transform: lowercase;
}

main {
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    margin-top: 0;
}

a {
    color: #f23074;
}
